.text-loading {
  font-family: fantasy;
  font-size: 50px;
  color: rgb(110, 208, 247);
  font-style: italic;
}

.text-loading > span {
  display: inline-block;
}

@keyframes jump {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-20px);
  }

  100% {
    transform: translateY(0px);
  }
}
